@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes width-80px {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}

@keyframes width-80px {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}

@-webkit-keyframes opacity1-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacity1-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: #333333;
  color: white;
  padding: 20px 0px 20px 0px;
}

footer h1 {
  font-size: 17px;
  margin-left: 20px;
}

footer a {
  color: #FFF;
}

footer li {
  margin-bottom: 8px;
  margin-left: 20px;
}

footer .proposition::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2e7";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  width: 10px;
  color: white;
  margin-right: 15px;
}

footer .partenaire::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4c4";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  width: 10px;
  color: white;
  margin-right: 15px;
}

.header_menu {
  background-color: #f2f2f2;
}

.header_menu a {
  margin-right: 70px;
}

.header_menu a i {
  font-size: 18px;
  opacity: 70%;
}

.image_menu {
  width: 100%;
  height: 200px;
}

.image_menu img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .image_menu_enchantee {
  width: 100%;
  height: 230px;
}

main .image_menu_enchantee img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 290px;
}

.carte_menu {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  margin-top: 0px;
  padding: 30px 0px 0px 0px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}

.titre_menu {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titre_menu h1 {
  margin: 0%;
  font-size: 25px;
  width: 85%;
}

.titre_menu i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.titre_menu .icon_coeur {
  margin: 0% 0% 0% 75%;
}

.plats_menu p {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  margin-top: 40px;
}

.cartes_plats {
  height: auto;
  padding-left: 15px;
}

.cartes_plats .style_carte_plats1, .cartes_plats .style_carte_plats2, .cartes_plats .style_carte_plats3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 65px;
  border-radius: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  cursor: pointer;
}

.cartes_plats .style_carte_plats1:hover, .cartes_plats .style_carte_plats2:hover, .cartes_plats .style_carte_plats3:hover {
  -webkit-box-shadow: 5px 5px 15px #999999;
          box-shadow: 5px 5px 15px #999999;
  -webkit-filter: brightness(102%);
          filter: brightness(102%);
}

.cartes_plats .style_carte_plats1 .nom_plat, .cartes_plats .style_carte_plats2 .nom_plat, .cartes_plats .style_carte_plats3 .nom_plat {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.style_carte_plats_poulet {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 85px;
  border-radius: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
}

.style_carte_plats_poulet:hover {
  -webkit-box-shadow: 5px 5px 15px #999999;
          box-shadow: 5px 5px 15px #999999;
  -webkit-filter: brightness(102%);
          filter: brightness(102%);
}

.style_carte_plats_poulet .nom_plat {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.style_carte_plats_poulet .animation_menu_poulet {
  height: 85px;
  width: 0px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  margin-left: 0px;
}

.style_carte_plats_poulet .animation_menu_poulet .boule {
  height: 28px;
  width: 28px;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.style_carte_plats_poulet .animation_menu_poulet .boule::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #99E2D0;
}

.style_carte_plats1 {
  -webkit-animation: fadein 1s ease-in;
          animation: fadein 1s ease-in;
}

.style_carte_plats2 {
  -webkit-animation: fadein 1.5s ease-in;
          animation: fadein 1.5s ease-in;
}

.style_carte_plats3 {
  -webkit-animation: fadein 2s ease-in;
          animation: fadein 2s ease-in;
}

.corp_carte {
  height: 100%;
  min-width: 0%;
  max-width: 100%;
  padding: 35px 0px 10px 15px;
}

.corp_carte:hover + .animation_menu {
  width: 80px;
  -webkit-animation: width-80px 1s alternate;
          animation: width-80px 1s alternate;
  margin-left: 15px;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s;
}

.corp_carte:hover + .animation_menu > .boule {
  -webkit-animation: loading 1s;
          animation: loading 1s;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.corp_carte:hover + .animation_menu_poulet {
  width: 80px;
  -webkit-animation: width-80px 1s alternate;
          animation: width-80px 1s alternate;
  margin-left: 15px;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s;
}

.corp_carte:hover + .animation_menu_poulet > .boule {
  -webkit-animation: loading 1s;
          animation: loading 1s;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.animation_menu {
  height: 65px;
  width: 0px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  margin-left: 0px;
}

.animation_menu .boule {
  height: 28px;
  width: 28px;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.animation_menu .boule::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #99E2D0;
}

.description_et_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.description_et_prix span {
  width: 270px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description_et_prix .prix {
  opacity: 70%;
  width: 30px;
  padding-right: 20px;
}

body main .style_poulet {
  height: 80px;
}

.conteneur_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.conteneur_btn button {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  border-radius: 20px;
  border: none;
  color: white;
  height: 50px;
  width: 170px;
  margin: 50px 0px 50px 0px;
  font-size: 15px;
  cursor: pointer;
}

.conteneur_btn button:hover {
  -webkit-box-shadow: 5px 5px 15px #999999;
          box-shadow: 5px 5px 15px #999999;
  -webkit-filter: brightness(102%);
          filter: brightness(102%);
}

@media all and (min-width: 800px) {
  .corp_carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0px 10px 50px;
    width: 90%;
  }
  .style_carte_plats1, .style_carte_plats2, .style_carte_plats3, .style_carte_plats_poulet {
    max-width: 100%;
  }
  .prix {
    margin-left: 0%;
    margin-right: 0%;
  }
  .nom_plat {
    width: 45%;
  }
  .description_et_prix {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  span {
    margin-right: 0%;
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 95%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  -webkit-animation: opacity1-0 3s ease-in forwards;
          animation: opacity1-0 3s ease-in forwards;
  position: absolute;
  z-index: 2;
}

.loading .loading_animation {
  content: "";
  width: 80px;
  height: 80px;
  border: 15px grey solid;
  border-radius: 50%;
  border-top-color: #99E2D0;
  -webkit-animation: loading 0.8s ease infinite;
          animation: loading 0.8s ease infinite;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  opacity: 1;
}

header a {
  color: black;
  -webkit-animation: fadein 4s ease-in;
          animation: fadein 4s ease-in;
  z-index: 3;
}

.recherche {
  background-color: #EBEBEB;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recherche .icon {
  opacity: 80%;
  margin-right: 10px;
}

.recherche input {
  border: none;
  background: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
  opacity: 70%;
  position: relative;
  -webkit-animation: fadein 4s ease-in;
          animation: fadein 4s ease-in;
  z-index: 3;
}

.exploration {
  background-color: #f2f2f2;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 270px;
  width: 100%;
  padding-top: 20px;
  border: transparent solid 1px;
}

.exploration h2 {
  font-size: 25px;
}

.exploration p {
  opacity: 70%;
  font-size: 18px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn button {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  -webkit-animation: fadein 4s ease-in;
          animation: fadein 4s ease-in;
  z-index: 3;
}

.btn button:hover {
  -webkit-box-shadow: 5px 5px 15px #999999;
          box-shadow: 5px 5px 15px #999999;
  -webkit-filter: brightness(102%);
          filter: brightness(102%);
}

.btn button span {
  color: white;
}

.fonctionnement {
  width: 100%;
}

.fonctionnement h2 {
  margin-top: 40px;
  padding-left: 4%;
}

.conteneur_cartes_f {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.carte_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 20px;
  height: 60px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  -webkit-animation: fadein 4s ease-in;
          animation: fadein 4s ease-in;
  z-index: 3;
}

.carte_fonctionnement:hover {
  color: #9356DC;
  background-color: #f2eafb;
  /**/
}

.carte_fonctionnement .texte {
  color: black;
}

.carte_fonctionnement .icon {
  opacity: 100%;
}

.carte_fonctionnement .one {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-right: 86%;
  color: white;
}

.carte_fonctionnement .icon {
  margin-right: 0px;
  font-size: 18px;
  opacity: 50%;
}

.carte_fonctionnement .texte {
  width: 200px;
  margin-left: 20px;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 50px;
  padding: 0%;
}

.restaurants h2 {
  width: 80%;
  height: auto;
  margin-top: 50px;
}

.restaurants .carte_restaurant2 .img img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.carte_restaurant, .carte_restaurant2 {
  width: 90%;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px #cccccc;
          box-shadow: 5px 5px 15px #cccccc;
  margin-bottom: 15px;
  cursor: pointer;
}

.carte_restaurant .img, .carte_restaurant2 .img {
  width: 100%;
  height: 170px;
}

.carte_restaurant .img img, .carte_restaurant2 .img img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.carte_restaurant p, .carte_restaurant2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  height: 30px;
  width: 100px;
  color: #2c9c81;
  border-radius: 5px;
  position: absolute;
  margin-left: 45%;
}

.titre_restaurant {
  color: black;
  width: 89%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.icon_coeur {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-left: 65%;
}

.icon_coeur input {
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 3;
  position: absolute;
}

.icon_coeur input:checked + .far + .fas {
  /*combinateur adjacent*/
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.icon_coeur input:checked + .far {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.icon_coeur i {
  position: absolute;
  font-size: 25px;
}

.icon_coeur .far {
  color: black;
}

.icon_coeur .fas {
  font-size: 26px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.corp_carte_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  padding: 15px 10px 10px 15px;
}

.corp_carte_r .texte_carte {
  height: auto;
  margin-top: 5px;
  color: black;
}

@media all and (min-width: 800px) {
  .carte_fonctionnement {
    width: 90%;
  }
  .carte_fonctionnement .one {
    margin-right: 88%;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
  }
  .restaurants h2 {
    margin-left: 35px;
  }
  .restaurants .icon_coeur {
    margin-left: 35%;
  }
  .restaurants .carte_restaurant, .restaurants .carte_restaurant2 {
    width: 45%;
    margin: 0px 0px 30px 35px;
  }
  .restaurants .carte_restaurant p, .restaurants .carte_restaurant2 p {
    margin-left: 30%;
  }
}

h1 {
  font-family: 'Shrikhand', cursive;
}

p, h2, h3, button, div, ul, li {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0%;
}

li {
  list-style-type: none;
}

input:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Base.css.map */