$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$gris_primaire: #EBEBEB;
@mixin text-align {
    text-align: center;
}
@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin max-width {
    width: 100%;
}
@mixin background_degrade {
    background: linear-gradient(to bottom right, $couleur_secondaire, $couleur_primaire);
}
@mixin box-shadow{
    box-shadow: 5px 5px 15px darken($color: white, $amount: 20%)
}
@mixin taille-images-resto{
    width: 100%;
    height: 170px;
}
@mixin background_darken_white5 {
    background-color: darken($color: #FFFFFF, $amount: 5%) ;
}
@mixin flex_colonne_centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}