@import "./utils";
@import "./layouts/footer";
@import "./pages/Menu";
@import "./pages/accueil";


@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1{
    font-family: 'Shrikhand', cursive;   
}

p, h2, h3, button, div, ul, li{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding-left: 0%;
}

li{
    list-style-type: none;
}
input{
    &:hover{
        cursor: pointer;
    }
}