
.loading{
    @include flex-centre;
    height: 100%;
    width: 98%;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    animation: opacity1-0 3s ease-in forwards;
    position: absolute;
    z-index: 2;
    .loading_animation{
        content: "";
        width: 80px;
        height: 80px;
        border: 15px grey solid;
        border-radius: 50%;
        border-top-color: $couleur-tertiaire;
        animation: loading 0.8s ease infinite;
    }
}

header{
    width: 100%;
    @include flex-centre;
    height: 60px;
    @include box-shadow;
    opacity: 1;
    a{
        color: black;
        animation: fadein 4s ease-in;
        z-index: 3;
    }
  
}

.recherche{
    background-color: #EBEBEB;
    width: 100%;
    height: 50px;
    @include flex-centre;

    .icon{
        opacity: 80%;
        margin-right: 10px;
    }

    input{
        border: none;
        background: none;
        font-size: 18px;
        @include text-align;
        @include max-width;
        opacity: 70%;
        position: relative;
        animation: fadein 4s ease-in;
        z-index: 3;
    }
}

.exploration{

    @include background_darken_white5;
    @include text-align;
    justify-content: center;
    height: 270px;
    @include max-width;
    padding-top: 20px;
    border: transparent solid 1px;

    h2{
        font-size: 25px;
    }

    p{
        opacity: 70%;
        font-size: 18px;
    }
}

.btn{
    @include flex-centre;

    button{
        width: 220px;
        height: 50px;
        border: none;
        border-radius: 30px;
        @include background_degrade;
        font: bold;
        font-size: 15px;
        @include flex-centre;
        @include box-shadow;
        animation: fadein 4s ease-in;
        z-index: 3;

        &:hover{
            @include more_shadows_and_brightness;
        }
        
        span{
            color: white;

        }
    }
}


.fonctionnement{
    width: 100%;

    h2{
        margin-top: 40px;
        padding-left: 4%;
    }
}

.conteneur_cartes_f{
    @include max-width;
    @include column-centre;
    padding-bottom: 40px;
}


.carte_fonctionnement{
    @include flex-centre;
    width: 90%;
    border-radius: 20px;
    height: 60px;
    @include background_darken_white5;
    margin-bottom: 20px;
    @include box-shadow;
    animation: fadein 4s ease-in;
    z-index: 3;
    &:hover{
        color: $couleur_primaire;
        background-color: lighten($color: $couleur_primaire, $amount: 35%); /**/
    }
    
    .texte{
        color: black;
    }

    .icon{
        opacity: 100%;
    }

    
    .one{
        background-color: $couleur_primaire;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        @include flex-centre;
        position: absolute;
        margin-right: 86%;
        color: white;

    }

    .icon
    {
        margin-right: 0px;
        font-size: 18px;
        opacity: 50%;
    }

    .texte{
        width: 200px;
        margin-left: 20px;
    }

}

.restaurants{
    @include column-centre;
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 50px;
    padding: 0%;
    

    h2{
        width: 80%;
        height: auto;
        margin-top: 50px; 
    }

    .carte_restaurant2{
        .img{
            img{
                @include taille-images-resto;
                object-fit: cover;
                object-position: 50% 60%;
            }   
        }
    }
}



.carte_restaurant, .carte_restaurant2{
    width: 90%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    @include box-shadow;
    margin-bottom: 15px;
    cursor: pointer;

    .img{
        @include taille-images-resto;

        img{
            @include taille-images-resto;
            object-fit: cover;
            object-position: bottom;
        }
    }

    p{
        @include flex-centre;
        background-color: $couleur-tertiaire;
        height: 30px;
        width: 100px;
        color: darken($color: $couleur-tertiaire, $amount: 35%);
        border-radius: 5px;
        position: absolute;
        margin-left: 45%;
    }

}

.titre_restaurant{
    color: black;
    width: 89%;
    height: auto;
    align-items: center;
    font-size: 18px;

}

.icon_coeur{
    width: 40px;
    height: 40px;
    @include flex-centre;
    position: absolute;
    margin-left: 65%;

    input{
        width: 30px;
        height: 30px;
        opacity: 0;
        z-index: 3;
        position: absolute;
        &:checked + .far + .fas{ /*combinateur adjacent*/
            opacity: 1;
            transition: opacity 1s;
        }
        &:checked + .far{
            opacity: 0;
            transition: opacity 500ms;
        }
    }

    i{
        position: absolute;
        font-size: 25px;
    }

    .far{
        color: black;
    }

    .fas{
        font-size: 26px;
        opacity: 0;
        @include background_degrade;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.corp_carte_r{
    display: flex;
    width: 70%;
    padding: 15px 10px 10px 15px;

    .texte_carte{
        height: auto;
        margin-top: 5px;
        color: black;
    }
}

@media all and (min-width: 800px){
    
    .carte_fonctionnement{
        width: 90%;

        .one{
            margin-right: 88%;
        }
    }

    .restaurants{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 0px;
        padding-right: 0px;

        h2
        {
            margin-left: 35px;
        }

        .icon_coeur{
            margin-left: 35%;
        }
        
        
        .carte_restaurant, .carte_restaurant2{
            width: 45%;
            margin : 0px 0px 30px 35px;

            p{
                margin-left: 30%;
            }
        }
    }

}