.header_menu{
    @include background_darken_white5;
    a{
        margin-right: 70px;

        i{
            font-size: 18px;
            opacity: 70%;
        }
    }
}

.image_menu{
    width: 100%;
    height: 200px;

    img{
        width: 100%;
        object-fit: cover;
        
    }
}

main{
    .image_menu_enchantee{
        width: 100%;
        height: 230px;

       img{
           object-fit: cover;
           object-position: center;
           width: 100%;
           height: 290px;
       }
    
    }

}


.carte_menu{
    width: 100%;
    height: auto;
    @include background_darken_white5;
    margin-top: 0px;
    padding: 30px 0px 0px 0px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
}

.titre_menu{
    padding-left: 20px;
    display: flex;
    h1{
        margin: 0px 60px 0px 0px;
        font-size: 25px;
    }

    i{
        @include flex-centre;
        font-size: 25px;
    }
}

.plats_menu{
    p{
        border-bottom: 3px solid $couleur-tertiaire;
        padding-bottom: 5px;
        width: 40px;
        margin-top: 40px;
    }
}

.cartes_plats{
    height: auto;
    padding-left: 15px;
    
    .style_carte_plats{
        background-color: white;
        width: 95%;
        height: 60px;
        border-radius: 15px;
        padding: 15px 0px 0px 10px;
        margin-top: 15px;
        @include box-shadow;

        .nom_plat{
            font-size: 18px;
        }

        .description_et_prix{
            display: flex;
            margin-top: 5px;

            span{
                width: 86%;
                font-size: 15px
            }

            .prix{
                opacity: 70%;
            }
        }
    }
}

.conteneur_btn{
    @include flex-centre;
    width: 100%;
    height: auto;

    button{
        @include background_degrade;
        @include box-shadow;
        border-radius: 20px;
        border: none;
        color: white;
        height: 50px;
        width: 170px;
        margin: 50px 0px 50px 0px;
        font-size: 15px;
    }
}


